# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/

# Python test/cache
.pytest_cache/

# Logs
*.log